* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #63A64E;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
}

.icon-container {
    margin-left: 10px;
    font-size: 35px;
    color: #FFD41F;
    cursor: pointer;
}

.level-name {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    margin-left: 80px;
    color: #FFD41F;
}

.instructions-button img{
    margin-right: 10px;
    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.game-board {
    margin-left: 30px;
}

.code {
    margin-right: 30px;
    width: 350px;
    height: 540px;
    background-color: #97CC7C;
    border-radius: 20px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 15px; 
    text-align: center;
    padding-top: 15px;
}

.blocks {
    margin-right: 30px;
    width: 350px;
    height: 300px;
    background-color: #97CC7C;
    border-radius: 20px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 15px; 
    text-align: center;
    padding-top: 15px;
}

.column1 {
    margin-top: 40px;
    background-color: #97CC7C;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.column2 {
    margin-top: 40px;
    background-color: #97CC7C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #F5B94E;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.item2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #D2691E;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.item3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #FFD700;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.cloned-item1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #F5B94E;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-left: 10px;
    cursor: pointer;
}

.cloned-item2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #D2691E;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-left: 60px;
    cursor: pointer;
}

.cloned-item3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    background-color: #FFD700;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-left: 60px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 120px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px; 
    background-color: #FFD41F; 
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
}

.run-button {
    margin-right: 10px;
}