* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #63A64E;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
}

.icon-container {
    margin-left: 10px;
    font-size: 35px;
    color: #FFD41F;
}

.level-name {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700; 
    margin-left: 80px;
    color: #FFD41F;
}

.instructions-button img{
    margin-right: 10px;
}

.game-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.game-board {
    margin-left: 30px;
}

.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code {
    width: 350px;
    height: 400px;
    background-color: #97CC7C;
    border-radius: 20px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 15px; 
    text-align: center;
    padding-top: 15px;
}

.run-button-container {
    text-align: center; 
    margin-top: 10px;
}

.blocks-container {
    margin-right: 30px;
    width: 350px;
    height: 400px;
    background-color: #97CC7C;
    border-radius: 20px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 15px; 
    text-align: center;
    padding-top: 15px;
    position: relative;
}

.blocks {
    background-color: #97CC7C;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.blocks img {
    background-color: #97CC7C;
    margin-top: 10px;
}
